.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(248, 209, 209);
}

.noteWrapper {
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1.7rem;
    flex: 1;
    padding: 8px;
    min-height: 100%;
}