.note {
    background:rgba(252, 252, 252, 0.877) ;
    box-shadow: 0 30px 40px rgba(253, 250, 250, 0.22);
    border-radius: 30px;
    /* border:1px solid black; */
    color: rgb(32, 28, 28);
    width: 250px;
}
.delete-icon
{
    margin-top: 30px;
  padding: 5px;
    background-color: rgb(196, 197, 192);
    border-radius: 50%;
}